body{
    margin: 0;
    padding: 0;
    background: url(../assets/login/hero.JPG);
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
    
}

h1 {
    color: #8139B0;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sign-in-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #FFFFFF;
    padding: 20px;
    margin: 6% auto 0;
    text-align: center;
    border-radius: 20px;
    border: 5px;
    border-style: solid;
    border-color: #8139B0;
}
.sign-in-form .sign-in-btn {
    color: #8139B0;
}
.sign-in-form img {
    width: 250px;
    margin-left: -20px;
}
.sign-in-form p{
    color: #8139B0;
}

input[type="text"],
input[type="password"] {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    border-color: #8139B0;
    outline: none;
}
button {
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.login_form #account_error {
    color: darkred;
    padding: 1%;
    display: none;
}

hr {
    color: #8139B0;
}